<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abschlussball 2025</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="imgs/logo_small.png" type="image/x-icon" />
  </head>
  <body>
    <nav class="nav sticky-nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/"
            ><img src="imgs/logo_big.png" alt="Logo" class="logo-icon"
          /></a>
        </div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/sponsoren">Sponsoren</a></li>
          <li><a href="#details">Details</a></li>
          <li><a href="/gallery">Galerie</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/jugendschutz">Jugendschutz</a></li>
        </ul>
      </div>
    </nav>

    <div class="gallery-section">
      <h2 class="section-title">Event Gallery</h2>
      <h3>Die Bilder werden bald hochgeladen, aktuell gibt es noch ein paar technische Schwierigkeiten.</h3>
      <h4>Wir danken für euer Verständnis.</h4>
    </div>
  </body>
</html>
