<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abschlussball 2025</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="imgs/logo_small.png" type="image/x-icon" />
  </head>
  <body>
    <nav class="nav sticky-nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/"
            ><img src="imgs/logo_big.png" alt="Logo" class="logo-icon"
          /></a>
        </div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/sponsoren">Sponsoren</a></li>
          <li><a href="#details">Details</a></li>
          <li><a href="/gallery">Gallerie</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/jugendschutz">Jugendschutz</a></li>
        </ul>
      </div>
    </nav>

    <section class="hero">
      <h1 class="fade-in">Aprés School 2025</h1>
      <p class="fade-in delay-1">Endlich am Zielhang! • 22. November 2025</p>

      <h2>Danke für die super Zeit!</h2>
      <h3>Bilder welche auf dem Event entstanden sind, <br>
        können in kurzer Zeit von dieser Webseite heruntergeladen werden.</h3>
</section>

    <section class="section" id="details">
      <h2 class="section-title">Details über die TFS</h2>
      <div class="details school-detail">
        <h3>Die Schüler</h3>
        <p>
          Wir 31 SchülerInnen haben in den vergangenen Jahren in der Technischen
          Fachschule Haslach viel gelernt, eigene Projekte realisiert und sind
          zu Expertinnen in unserem Fachgebiet geworden. Nun neigt sich unsere
          Zeit in der TFS Haslach langsam dem Ende zu und wir stehen bald vor
          dem Abschluss. Deshalb wollen wir unsere gemeinsame Zeit noch einmal
          richtig feiern.
        </p>
        <hr />
        <h3>Die TFS Haslach</h3>
        <p>
          Die Technische Fachschule Haslach besuchen über 140 Schülerinnen und
          Schüler aus ganz Oberösterreich und Niederösterreich, die in den
          Schwerpunkten Mechatronik und Informationstechnik ausgebildet werden.
          Durch den Theorieunterricht sowie in zahlreichen Laboren und
          Werkstätten wird eine fundierte Ausbildung in den verschiedensten
          Fächern wie Elektro- und Fertigungstechnik, Informations- und
          Automatisierungstechnik, Konstruktion, Betriebs- und Systemtechnik,
          Netzwerk- und Medientechnik oder Softwareentwicklung geboten.
        </p>
        <hr />
        <h3>Unser Abschlussball mit Ihrer Unterstützung</h3>
        <p>
          Unser Abschlussball findet am 22. November 2025 nach 5 Jahren Pause
          zum 1. Mal wieder statt und ist somit ein neues Highlight im
          Ballkalender. Mit Ihrem Sponsoring können Sie und Ihre Firma ein Teil,
          dieses für uns so besonderen Abend, werden und uns unterstützen.
          Darüber hinaus bieten wir Ihnen mit unseren Sponsoringpaketen die
          Möglichkeit, Ihre Firma auf verschiedenen Werbeflächen zu präsentieren
          und somit eine Vielzahl von Personen in verschiedenen Altersklassen zu
          erreichen.
        </p>
      </div>

      <h2 class="section-title">Event Details</h2>
      <div class="details enhanced-details">
        <div class="details-box">
          <ul class="details-list">
            <li>
              <i class="fas fa-calendar-alt"></i>
              <strong>Wann: 22. November 2025</strong>
            </li>
            <li>
              <i class="fas fa-clock"></i>
              <strong>Uhrzeit: 19:30 Uhr</strong>
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <strong
                >Ort:
                <a href="https://www.meierhof-events.at/" target="_blank"
                  >Meierhof Aigen-Schlägl</a
                ></strong
              >
            </li>
            <li>
              <i class="fas fa-tshirt"></i>
              <strong>Dress Code: Formell</strong>
            </li>
            <li>
              <i class="fas fa-ticket-alt"></i>
              <strong>Tickets: <a href="/ticketverkauf">Link</a></strong>
            </li>
            <li>
              <i class="fas fa-coins"></i>
              <strong>Preis Abendkasse: 25€</strong>
            </li>
            <li>
              <i class="fas fa-credit-card"></i>
              <strong>Preis Vorverkauf: 19€</strong>
            </li>
          </ul>
        </div>
        <div class="gallery enhanced-gallery">
          <div class="gallery-item">
            <img src="/imgs/Loc_1.jpg" alt="Decoration" />
          </div>
          <div class="gallery-item">
            <img src="/imgs/Loc_2.jpg" alt="Decoration" />
          </div>
          <div class="gallery-item">
            <img src="/imgs/Loc_3.jpg" alt="Decoration" />
          </div>
          <div class="gallery-item">
            <img src="/imgs/Loc_4.jpg" alt="Decoration" />
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="location">
      <h2 class="section-title">Standort</h2>
      <div class="map">
        <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=13.961445093154909%2C48.63515621895563%2C13.973439931869509%2C48.64025379159985&amp;layer=mapnik&amp;marker=48.637705069666445%2C13.967442512512207" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.637705&amp;mlon=13.967443#map=17/48.637705/13.967443">View Larger Map</a></small>
        </iframe>
      </div>
    </section>

    <footer>
      <div class="social-icons">
        <a href="https://www.instagram.com/abschlussball_tfs_haslach/"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <p>&copy; 2025 Abschlussball | TFS Haslach</p>
      <br />
      <a href="/impressum">Impressum</a> | <a href="/privacy">Datenschutz</a>
    </footer>

    <script>
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();
          document.querySelector(this.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
          });
        });
      });
    </script>
  </body>
</html>


