<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Après School - TFS Haslach</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Après School</h1>
      <p>Endlich am Zielhang!</p>
      <div class="countdown" id="countdown">Countdown:</div>
      <h4>SAVE THE DATE: 22.11.2025</h4>
    </header>

    <nav>
      <a href="#about">Über den Ball</a>
      <a href="#program">Programm</a>
      <a href="#location">Location</a>
      <a href="#tickets">Tickets</a>
      <a href="/sponsors">Sponsoren</a>
      <a href="#gallery">Galerie</a>
      <a href="#contact">Kontakt</a>
    </nav>

    <section id="about">
      <h2>Über den Ball</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam iusto,
        quod animi culpa impedit accusantium sint sit, modi non cupiditate, fuga
        nulla doloribus! Debitis, asperiores eos est quam minima nostrum?
      </p>
    </section>

    <section id="program">
      <h2>Programm</h2>
      <ul>
        <p>// Dev notes: Hier soll ein Ablauf des Balles hin</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda repellat voluptas atque quasi quod libero ratione nisi amet! Reprehenderit a delectus perspiciatis minima deserunt saepe eveniet iusto, illo at corrupti?</p>
      </ul>
    </section>

    <section id="location">
      <h2>Location</h2>
      <p>
        Der Abschlussball findet in am Meierhof statt. Parkplätze sind
        vorhanden.
      </p>
      <div style="max-width:100%;overflow:hidden;color:red;width:1000px;height:500px;">
        <div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;">
          <iframe style="height:100%;width:100%;border:0;" frameborder="0" 
          src="https://www.google.com/maps/embed/v1/place?q=Meierhof&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8">
          </iframe>
        </div>
          <a class="googlecoder" href="https://www.bootstrapskins.com/themes" id="make-map-infor-mation">premium bootstrap themes</a><style>#gmap-canvas img{max-height:none;max-width:none!important;background:none!important;}</style></div>
    </section>

    <section id="tickets">
      <h2>Tickets</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur ducimus alias culpa ex nisi, vitae modi sequi fugit nemo, eveniet laboriosam ea? Beatae ipsum quae error deleniti quis atque nesciunt?
      </p>
    </section>

    <section id="gallery">
      <h2>Galerie</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem corporis vero perspiciatis vitae repudiandae dolore, asperiores voluptatibus reiciendis fugiat debitis sequi itaque nihil cum similique fugit repellendus voluptas, voluptate magnam!</p>
    </section>

    <section id="contact">
      <h2>Kontakt</h2>
      <p>
        Fragen? Wünsche? Lob? Meldet euch beim Team unter
        <a href="mailto:theresa.hraba@tfs-haslach.at"
          >theresa.hraba@tfs-haslach.at</a
        >
        oder auf Instagram
        <a href="https://www.instagram.com/abschlussball_tfs_haslach/"
          >@abschlussball_tfs_haslach</a
        >
      </p>
    </section>

    <footer>
      <p>&copy; 2025 Abschlussball @ TFS-Haslach</p>
    </footer>

    <script>
      const countdown = document.querySelector('#countdown');

      const target = 1763838000 * 1000;

      setInterval(() => {
        const now = new Date().getTime();
        const timeFrame = target - now;

        if (timeFrame <= 0) {
          countdown.innerHTML = 'Der Moment ist da!';
          return;
        }

        const days = Math.floor(timeFrame / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeFrame / (1000 * 60 * 60)) % 24);
        const minutes = Math.floor((timeFrame / (1000 * 60)) % 60);
        const seconds = Math.floor((timeFrame / 1000) % 60);

        countdown.innerHTML = `Countdown: ${days} Tage ${hours} Std ${minutes} Min ${seconds} Sek`;
      }, 1000);
    </script>
  </body>
</html>
