<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jugendschutz</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body id="jsch">
    <nav class="nav sticky-nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/">🎓 Abschlussball</a>
        </div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/sponsoren">Sponsoren</a></li>
          <li><a href="/#details">Details</a></li>
          <li><a href="/ticketverkauf">Tickets</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/jugendschutz">Jugendschutz</a></li>
        </ul>
      </div>

      <div class="container">
        <p class="margin">Um auch als unter 16 jährige Person an unserem Ball teilnehmen zu können ist eine schriftliche Einverständniserklärung der Erziehungsberechtigten sowie eine volljährige Begleitperson notwendig. Bitte laden Sie vor dem Ball die Vorlage für die Einverständniserklärung herunter, drucken Sie diese aus und nehmen Sie sie ausgefüllt am Ballabend mit.</p>
        <p class="center-custom"><a href="Einverständniserklaerung_Aufsichtsperson.pdf">Vorlage für die Einverständniserklärung herunterladen</a></p>
        <p class="margin">Die Personenberechtigten tragen die Verantwortung bei der Auswahl der Aufsichtspersonen. Die Aufsichtspflichtigen müssen nicht nur volljährig sein, es muss außerdem ein gewisses Respektsverhältnis vorhanden sein (in der Regel kann diese Aufgabe also z.B. nicht der volljährige Freund oder die Freundin erfüllen). Eine Übertragung der Aufsichtsbereichtigung kann nur für den jeweiligen Abend erfolgen.
Eine Übertragung der Aufsichtsberechtigung auf den Veranstalter, Gastwirt oder sonstige in der Gastwirtschaft Beschäftigte ist nicht zulässig.</p>
      </div>

        <footer>
        <div class="social-icons">
            <a href="https://www.instagram.com/abschlussball_tfs_haslach/"
            ><i class="fab fa-instagram"></i
            ></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <p>&copy; 2025 Abschlussball | TFS Haslach</p>
        <br />
        <a href="/impressum">Impressum</a> | <a href="/privacy">Datenschutz</a>
        </footer>
    </body>
</html>
