<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontaktformular</title>
    <link rel="stylesheet" href="ticket.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="shortcut icon" href="imgs/logo_small.png" type="image/x-icon" />
  </head>
  <body>
    <nav class="nav sticky-nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/"
            ><img src="imgs/logo_big.png" alt="Logo" class="logo-icon"
          /></a>
        </div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/sponsoren">Sponsoren</a></li>
          <li><a href="/#details">Details</a></li>
          <li><a href="/gallery">Gallerie</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/jugendschutz">Jugendschutz</a></li>
        </ul>
      </div>
    </nav>

    <div class="container container-1">
      <h1>Kontakt</h1>
      <form method="post" action="/send-contact-form" id="form">
        <table class="contact-table">
          <tr>
            <td class="td-label"><label for="vorname">Vorname</label></td>
            <td><input required type="text" name="vorname" id="vorname" /></td>
          </tr>
          <tr>
            <td class="td-label"><label for="nachname">Nachname</label></td>
            <td>
              <input required type="text" name="nachname" id="nachname" />
            </td>
          </tr>
          <tr>
            <td class="td-label"><label for="email">Email</label></td>
            <td><input required type="email" name="email" id="email" /></td>
          </tr>
          <tr>
            <td class="td-label"><label for="anliegen">Anliegen</label></td>
            <td>
              <select name="anliegen" id="anliegen">
                <optgroup label="Anliegen">
                  <option value="Probleme">Probleme</option>
                  <option value="Sponsoring" selected>Sponsoring</option>
                  <option value="Ideen">Ideen</option>
                  <option value="Allgemein">Allgemein</option>
                </optgroup>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea
                name="message"
                id="message"
                cols="57"
                rows="8"
                required
              ></textarea>
            </td>
          </tr>
          <% if (status != undefined) { %>
          <tr>
            <td class="center" colspan="2">
              <p id="status" style="text-align: center; color: <%= color %>">
                <%= status%>
              </p>
            </td>
          </tr>
          <% } %>
          <tr>
            <td colspan="2" class="center">
              <button type="submit">Abschicken</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
