<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Après School - TFS Haslach</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="shortcut icon" href="imgs/logo_small.png" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="nav sticky-nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/"
            ><img src="imgs/logo_big.png" alt="Logo" class="logo-icon"
          /></a>
        </div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/sponsoren">Sponsoren</a></li>
          <li><a href="/#details">Details</a></li>
          <li><a href="/ticketverkauf">Tickets</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
          <li><a href="/jugendschutz">Jugendschutz</a></li>
        </ul>
      </div>
    </nav>

    <div id="sponsors-head">
      <h2>Ein herzliches Dankeschön an unsere Sponsoren!</h2>
      <p>
        Ihre Unterstützung macht unseren Abschlussball 2025 erst möglich. Durch
        Ihr Engagement helfen Sie uns, einen unvergesslichen Abend zu gestalten
        - voller Eleganz, Musik und Gemeinschaft. Wir schätzen Ihre
        Partnerschaft sehr!
      </p>
    </div>

    <section id="sponsors">
      <div class="sponsor-section">
        <% data.forEach((element, i) => { %> <% if (element[0].startsWith('-'))
        { %>
        <h2 class="sponsor-category"><%= element[0].substring(2).trim() %></h2>
        <% } else { %>
        <div class="sponsor-card">
          <a href="<%=element[1]%>" target="_blank">
            <% if (!element[2]) { %>
            <!-- <img src="imgs/logo.jpg" alt="logo" /> -->
            <% } else { %>
            <img src="imgs/logos/<%=element[2]%>" alt="logo" />
            <% } %>
            <p><%= element[0] %></p>
          </a>
        </div>
        <% } %> <% }); %>
      </div>
    </section>
    <footer>
      <p>&copy; 2025 Abschlussball @ TFS-Haslach</p>
    </footer>
  </body>
</html>
