<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Après School - TFS Haslach</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav class="nav sticky-nav">
      <div class="nav-container">
        <div class="nav-logo">
          <a href="/">🎓 Abschlussball</a>
        </div>
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/sponsoren">Sponsoren</a></li>
          <li><a href="/#details">Details</a></li>
          <li><a href="/ticketverkauf">Tickets</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
        </ul>
      </div>
    </nav>
    
    <div id="sponsors-head">
      <h2>Ein herzliches Dankeschön an unsere Sponsoren!</h2>
      <p>
        Ihre Unterstützung macht unseren Abschlussball 2025 erst möglich. 
        Durch Ihr Engagement helfen Sie uns, einen unvergesslichen Abend zu gestalten - 
        voller Eleganz, Musik und Gemeinschaft. Wir schätzen Ihre Partnerschaft sehr!
      </p>
    </div>

    <section id="sponsors">
      <table>
        <% let colCount = 0; %>

        <% data.forEach((element, i) => { %>
          <% if (element[0].startsWith('-')) { %>
            <% if (colCount !== 0) { %>
              </tr>
              <% colCount = 0; %>
            <% } %>
            <tr>
              <td colspan="3" style="text-align:center;">
                <h1><%= element[0].substring(2).trim() %></h1>
              </td>
            </tr>
          <% } else { %>
            <% if (colCount === 0) { %>
              <tr class="element">
            <% } %>
            <td>
              <a href="<%=element[1]%>">
                <% if (!element[2]) { %>
                  <img src="imgs/logo.jpg" alt="logo" height="250px">
                <% } else { %>
                  <img src="imgs/logos/<%=element[2]%>" alt="logo" height="250px">
                <% }%>
              
              <p><%= element[0] %></p>
              </a>
            </td>
            <% colCount++; %>
            <% if (colCount === 3) { %>
              </tr>
              <% colCount = 0; %>
            <% } %>
          <% } %>
        <% }); %>

        <% if (colCount !== 0) { %>
          </tr>
        <% } %>
      </table>
    </section>
    <footer>
      <p>&copy; 2025 Abschlussball @ TFS-Haslach</p>
    </footer>
  </body>
</html>
