<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Après School - TFS Haslach</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Après School</h1>
      <p>Endlich am Zielhang!</p>
      <div class="countdown" id="countdown">Countdown: 42 Tage</div>
      <h4>SAVE THE DATE: 22.11.2025</h4>
    </header>

    <nav>
      <a href="/">Homepage</a>
      <a href="/sponsors">Sponsoren</a>
    </nav>
    <div id="sponsor-header">
      <h1>Lorem Ipsum</h1>
      <h2>Sponsoren</h2>
    </div>

    <section id="sponsors">
      <table>
        <% let colCount = 0; %>

        <% data.forEach((element, i) => { %>
          <% if (element[0].startsWith('-')) { %>
            <% if (colCount !== 0) { %>
              </tr>
              <% colCount = 0; %>
            <% } %>
            <tr>
              <td colspan="3" style="text-align:center;">
                <h1><%= element[0].substring(2).trim() %></h1>
              </td>
            </tr>
          <% } else { %>
            <% if (colCount === 0) { %>
              <tr class="element">
            <% } %>
            <td>
              <a href="<%=element[1]%>">
              <img src="/imgs/logo.png" alt="logo">
              <p><%= element[0] %></p>
              </a>
            </td>
            <% colCount++; %>
            <% if (colCount === 3) { %>
              </tr>
              <% colCount = 0; %>
            <% } %>
          <% } %>
        <% }); %>

        <% if (colCount !== 0) { %>
          </tr>
        <% } %>
      </table>
    </section>
    <footer>
      <p>&copy; 2025 Abschlussball @ TFS-Haslach</p>
    </footer>
  </body>
</html>
